.container {
  margin: 0 auto;
  border: none;
}

.footer {
  text-align: center;
}

#colors-info-wrapper {
  margin-top: 1em;
}

#colors {
  float: left;
  margin-right: 2em;
}

.color {
  width: inherit;
  margin: 0;
  margin-bottom: 1em;
}

#summary {
  float: left;
  width: 50%;
}

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}
