.container {
  width: 50%;
}

.color-heading {
  font-size: 2em;
} 

.color img {
  width: 100px;
  height: 100px;
}

#summary {
  width: 50%;
}

.parent, .child {
  width: 50%;
}

.parent {
  height: 200px;
  background-color: yellow;
}

.child {
  height: 30%;
  background-color: orange;
}

.footer {
  font-size: 1.2em;
  font-weight: bold;
}
